p{
    color: cyan;
}


.question-content{
    display: none;
}

#prepare{
    display: none;
}

#go-further{
    display: none;
}

#intro-test{
    display: none;
}

#revelio-button{
    display:none;
}