{% extends 'base.html' %}

{%  block content %}

    <div id="intro-div">
    <h3 id="intro-test">Are you ready?</h3>
    <button id="go-further">I'm so excited!</button>
    </div>

    <h3 id="prepare">Ok then...</h3>


    <form action="#" method="post" id="main-test">
        {% for question in questions %}
            <label class="question-content">{{ question.text }}<br>
                {% for answer in question.answers.all() %}
                <input type="radio" name="answer-option{{question.id}}" value="{{answer.house_id}}" class="answer-radio">
                    {{answer.text}}
                </input><br>
                {% endfor %}
            </label>
        {% endfor %}
            <button type="submit" id="revelio-button">Revelio!</button>
    </form>



{% endblock %}


